.task_title 
  = f.label :title,"タイトル (4~40文字)" , class: 'control_label'
  = f.text_field :title,class: 'text'
.task_content
  = f.label :content, "内容 (10文字以上)" ,class: 'control_label'
  = f.text_area :content, class: 'content'
.task_limit 
  = f.label :limit,"期限", class: 'control_label'
  = f.date_select :limit, class: 'date'
.task_image 
  = f.label :image_id, "写真"
  = f.file_field :image_id
.actions
  = f.submit "Submit", class: 'submit'